<!DOCTYPE html>
<html lang = 'pt-br'>
  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/index.css">
    <title> Pokedex </title>
    
  </head>
  <body>
      <header>
        
      <section class="header">
        <img src="images/Logo.png" alt ='logo-pokemon'>
                
        <nav class="navbar" >
          <button class="hamburguer-menu">&#9776;</button>
          <a href="#">
            Home
          </a>
          <a href="#">
            Pokédex
          </a>
          <a href="#">
            Legendaries
          </a>
          <a href="#">
            Documetation
          </a>
          </nav>

          

          <!-- <img class="hamburguer-menu" src="images/menu.svg" alt="hamburguer-menu"> -->
      </section>
      </header>

      <main class="main">
         <img src="/images/Component 3 (3).svg" alt = "pikachu">
         <div>

          <h1><strong> Find </strong> all your favorite <strong>Pokemon</strong> </h1>
          <p >You can Know the type of Pokemon, its strengths, disadvantages and abilities</p>
          <button class='btn'> See pokemons</button>

         </div>

      </main>
      <footer class="footer"> 
         <p>Make with ❤️ for the PokéSpartans team Platzi Master</p>
         <p>Ours Team</p>
      </footer>
  </body>
</html>
