@import url("https://fonts.googleapis.com/css2?family=Karla&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Ropa+Sans:ital@1&display=swap");

* {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

.cabeçalho {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #f5db13;
  padding: 30px 30px 0 px 10px;
  box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
  position: sticky;
  font-weight: bold;
  z-index: 1;
}

body {
  display: flex;
  font-family: "Karla", sans-serif;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(#f5db13, #f2b807);
}

.navbar > a {
  font-size: 25px;
  margin: 0 20px 0 0;
  text-decoration: none;
  color: black;
}

.navbar > a:hover {
  text-decoration: underline;
}

.cabeçalho > img {
  width: 128px;
}

/* .hamburguer-menu {
  background: none;
  cursor: pointer;
  display: none;
  
} */

.hamburguer-menu{
    background-color: transparent;
    border: none;
    color: black;
    font-size: 30px;
    position: absolute;
    right: 20px;
    margin-bottom: 10px;
    display:none;
}

button:focus~a{
  height: 250px;
}

/* início do corpo */

.corpo-index {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.corpo-index > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 0 50px;
}

.corpo-index > div > h1 {
  font-size: 42px;
  font-weight: normal;
  margin: 30px 0;
  padding: 0 40px;
}

.corpo-index > div > p {
  font-family: "Karla";
  font-size: 24px;
  margin: 30px 0;
  padding: 0 40px;
}

.btn {
  display: flex;
  font-size: 23px;
  font-weight: normal;
  background-color: #73d677;
  margin-top: 20px;
  margin-left: 120px;
  width: 300px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
  box-shadow: 0 7px 0px #5eaf62;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Inicio do Footer */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100 px;
}

.hamburguer-menu {
  display: none;
}



.hamburguer-menu:focus~a{
  height: 250px;
}

.botao-flutuante {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 64px;
  height: 64px;
  transition: all 1s;
}

.botao-flutuante > img {
  width: 100%;
}

.botao-flutuante:hover {
  width: 96px;
  height: 96px;
}

.dark-mode {
  background-color: #424948;
}

.dark-mode > nav > a {
  color: #fff;
}

.dark-mode-main {
  background: linear-gradient(#424948, #292d2c);
  color: #fff;
}

/* Responsividade Tablete */

@media (max-width: 748px) {
 .cabeçalho {
    padding: 20px 10px;
  }

  .cabeçalho > img {
    width: 128px;
  }

  .navbar {
    display: none;
  }

.hamburguer-menu {
    display: block;
    height: 30px;
}

}

@media (min-width: 749px) {
  .navbar {
    display: flex;
  }

  .hamburguer-menu {
    display: none;
  }
}



